extends layout

block content
  section
    div.club-list-hero
      div
        div.club-list-hero__badge
          h5 Clubs
        div.club-list-hero__description
          h4 Join Clubs to talk about the book you all enjoy!
        div.club-list-hero__line
      div
        div.club-list-hero__image-container
          img(src='/public/images/club_hero.png')
    div.club-list
      h4 Clubs
      div.club-list__book-category
        h5 Book Title
        div.club-list__cards
          div.club-list__card
            h6 Title
            div.card-stats
               div
                i.fa-solid.fa-comments
                span 1 thread
               div
                i.fa-solid.fa-user-group
                span 1 Member
               div
                i.fa-solid.fa-calendar
                span June 22, 2022

