extends layout

block content
  section
    div.categories
      a.category.cateory-books(href='/books/create')
        span Create Book
      a.category.cateory-authors(href='/authors/create')
        span Create Author
      a.category.cateory-genres(href='/genres/create')
        span Create Genre
      a.category.cateory-tags(href='/tags/create')
        span Create Tags
