doctype html
html
  head
    title= title
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet")
    link(rel='stylesheet', href='/public/stylesheets/all.min.css')
    link(rel='stylesheet', href='/public/stylesheets/normalize.css')
    link(rel='stylesheet', href='/public/stylesheets/style.css')
  body
  div.container
    header.header
      div.header__logo
        p #[span novels]Ultimate
      nav.header__navigation
        ul.links
          li.link
            a(href='/') Home
          li.link
            a(href='/clubs') Clubs
          li.link
            a(href='/books') Browse
          li.link
            a(href='/create') Create

    block content
